.create_contenedor {
  position: relative;
  width: 60%;
  height: max-content;
  left: 0;
  top: 0;
  margin: 30px auto;
  justify-content: center;
  background: linear-gradient(#e09f3e, #dba657);
  display: flex;
  flex-direction: column;
  padding: 50px;
  box-shadow: -8px 8px 8px #000;
  border-radius: 15px;
}

.create_title {
  color: #fff;
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.create_items {
  display: flex;
  margin: 30px 0;
  flex-direction: column;
}

.create_label {
  font-family: "Dongle", sans-serif;
  font-size: 40px;
  font-weight: 500;
  color: #1c0d02;
  display: flex;
}

.create_input {
  background-color: transparent;
  border: none;
  height: 30px;
  border-bottom: 1px solid #1c0d02;
  outline: none;
}

.create_select {
  margin: auto;
  width: 300px;
  height: 40px;
  background: transparent;
  border: 1px solid #1c0d02;
  border-radius: 3px;
  padding-left: 10px;
  font-family: "Dongle", sans-serif;
  font-size: 25px;
  font-weight: 500;
  cursor: pointer;
}

.create_options {
  height: 10px !important;
  font-family: "Dongle", sans-serif;
  font-size: 25px;
  font-weight: 200;
  background-color: #fff3b0;
}

.create_options:hover {
  background-color: #e09f3e96;
}

.create_error {
  font-family: "Dongle", sans-serif;
  font-size: 25px;
  color: #ff0000;
}

.create_temperament {
  position: relative;
  flex-direction: row;
  margin: 10px;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.create_temperament p {
  margin: 0 5px;
  padding: 0 5px;
  border-left: 1px solid #000;
}

.create_delete {
  background-color: transparent;
  margin: 3px;
  border: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
}

.create_link {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 35px;
  padding-right: 5px;
  position: relative;
}

.create_link::after {
  content: "";
  box-shadow: 2px 2px 5px rgb(0, 0, 0);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #000;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.create_link:hover::after {
  transform: scaleX(1);
}

.create_link::before {
  margin-left: 3px;
  content: "";
  box-shadow: 2px 2px 5px rgb(0, 0, 0);
  position: absolute;
  right: 0;
  width: 1px;
  height: 35px;
  background: #000;
  transform: scaleY(0);
  transition: transform 0.3s ease-in-out;
}

.create_link:hover::before {
  transform: scaleY(1);
}

.create_text {
  font-family: "Dongle", sans-serif;
  font-size: 25px;
  font-weight: 700;
  color: #1c0d02;
}

.create_home {
  margin-right: 20px;
  width: 100px;
}

.create_create {
  width: 180px;
}

.contenedor_searchBar--create {
  margin: 0 10px;
}

.details_links--home {
  padding-top: 5px;
}

@media (max-width: 600px) {
  .create_contenedor {
    width: 90%;
  }

  .create_label {
    font-size: 30px;
  }

  .create_select {
    width: 145px;
    font-size: 17px;
    font-weight: 600;
  }

  .create_options {
    font-size: 17px;
    font-weight: 600;
  }

  .create_create {
    width: 146px;
  }
}
