.temperament_links{
    height: 100%;
    transition: transfrom .5s;
    display: flex;
    user-select: none;
}

.temperament_item{
    list-style: none;
    position: relative;
    height: 100%;
    --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
    --transform: rotate(-90deg);
}

.temperament_item:hover{
    --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    --transform: rotate(0)
}

.temperament_title{
    width: 150px !important;
}

.temperament_link{
    background-color: transparent;
    border: none;
    width: 132px;
    color: #1c0d02;
    text-decoration: none;
    display: flex;
    height: 100%;
    align-items: center;
}

.temperament_link:hover{
    background-color: #e09f3e96;
}

.temperament_arrow{
    margin: 0;
    transform: var(--transform);
    transition: transform .2s;
    display: block;
    margin-left: 3px;
    width: 36px;
    height: 36px;
}

.temperament_nesting{
    margin-top: 10px;
    list-style: none;
    transition: clip-path .3s;
    clip-path: var(--clip);
    position: absolute;
    bottom: 0;
    right: 0;
    width: 150px;
    height: 350px;
    transform: translateY(100%);
    background-color: #fff3b0;
    overflow-y: scroll;
    overflow-x: none;
}

.temperament_nesting::-webkit-scrollbar-track {
    border-radius: 10px;  
}

.temperament_link--inside{
    padding: 10px 3px;
    height: 50px;
}

.temperament_link--inside:hover{
    background-color: #e09f3e96;
}

.temperament_hamburguer{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
    display: none;
}

.temperament_img{
    display: block;
    width: 36px;
}